@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h4>JWT</h4>

@Html.Raw(Extensions.Base.IdentityExtensions.GenerateJwt(User.Claims, "kadfj,hvd_fkw3  894tASBVC6e786tdfjnbjkd..fbn", "itcollege.taltech.ee", "itcollege.taltech.ee", DateTime.Now.AddDays(30)))