@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Resources.Base.Common.HomePageWelcome</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">@Resources.Base.Common.HomePageText</a>.</p>
</div>