@model BLL.App.DTO.Bill

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Resources.BLL.App.DTO.Bill.EntityName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillNr" class="control-label"></label>
                <input asp-for="BillNr" class="form-control" />
                <span asp-validation-for="BillNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceWithoutTax" class="control-label"></label>
                <input asp-for="PriceWithoutTax" class="form-control" />
                <span asp-validation-for="PriceWithoutTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumOfTax" class="control-label"></label>
                <input asp-for="SumOfTax" class="form-control" />
                <span asp-validation-for="SumOfTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceToPay" class="control-label"></label>
                <input asp-for="PriceToPay" class="form-control" />
                <span asp-validation-for="PriceToPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
