# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.KeilaJKEpood.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jan\RiderProjects\icd0009-2020s\KeilaJKEpood\.idea\.idea.KeilaJKEpood\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
