@model Domain.App.LineOnBill

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LineOnBill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BillId" class="control-label"></label>
                <input asp-for="BillId" class="form-control" />
                <span asp-validation-for="BillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceId" class="control-label"></label>
                <input asp-for="PriceId" class="form-control" />
                <span asp-validation-for="PriceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxPercentage" class="control-label"></label>
                <input asp-for="TaxPercentage" class="form-control" />
                <span asp-validation-for="TaxPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceWithoutTax" class="control-label"></label>
                <input asp-for="PriceWithoutTax" class="form-control" />
                <span asp-validation-for="PriceWithoutTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumOfTax" class="control-label"></label>
                <input asp-for="SumOfTax" class="form-control" />
                <span asp-validation-for="SumOfTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceToPay" class="control-label"></label>
                <input asp-for="PriceToPay" class="form-control" />
                <span asp-validation-for="PriceToPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
