@model BLL.App.DTO.Discount

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Base.Common.Edit</h1>

<h4>@Resources.BLL.App.DTO.Discount.EntityName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RequiredUserLevel" class="control-label"></label>
                <input asp-for="RequiredUserLevel" class="form-control" />
                <span asp-validation-for="RequiredUserLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercentage" class="control-label"></label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountName" class="control-label"></label>
                <input asp-for="DiscountName" class="form-control" />
                <span asp-validation-for="DiscountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Until" class="control-label"></label>
                <input asp-for="Until" class="form-control" />
                <span asp-validation-for="Until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Base.Common.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Base.Common.Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
