@using Domain.App
@model dynamic
<!DOCTYPE html>
<html lang="en">
    
<body>
        

<table class="table">
    <thead>
    <tr>
        <th>
            Product name
        </th>
        <th>
            Product amount
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
                    
    
    </tbody>
</table>




</body>
</html>