@using Domain.App
@model IEnumerable<BLL.App.DTO.PaymentType>
<!DOCTYPE html>
<html lang="en">
    
<body>
        

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTypeName)
            </td>
            <td>
                <a asp-controller="PurchaseReceivedPage" asp-action="Index" asp-route-id="@item.Id">@Resources.Base.Common.Buy</a> 
            </td>
        </tr>
}
    </tbody>
</table>




</body>
</html>